USE [master]
GO
/****** Object:  Database [blog_db]    Script Date: 23/10/2019 22:19:57 ******/
CREATE DATABASE [blog_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blog_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\blog_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blog_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\blog_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blog_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blog_db]
GO
USE [blog_db]
GO
/****** Object:  User [usuariobd]    Script Date: 23/10/2019 22:19:59 ******/
CREATE USER [usuariobd] FOR LOGIN [usuariobd] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [usuariobd]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 23/10/2019 22:20:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[comment_author] [varchar](50) NULL,
	[comment_email] [varchar](50) NULL,
	[comment_text] [varchar](500) NULL,
	[comment_timestamp] [datetime] NULL,
	[comment_post_id] [numeric](18, 0) NULL,
 CONSTRAINT [PK_comments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 23/10/2019 22:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[post_title] [varchar](50) NULL,
	[post_text] [varchar](max) NULL,
	[post_author] [varchar](50) NULL,
	[post_change] [datetime] NULL,
	[post_status_published] [numeric](1, 0) NULL,
	[post_approval] [datetime] NULL,
	[post_approval_name] [varchar](50) NULL,
 CONSTRAINT [PK_pots] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [FK_comments_posts] FOREIGN KEY([comment_post_id])
REFERENCES [dbo].[posts] ([post_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [FK_comments_posts]
GO
USE [master]
GO
